@font-face {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
  // url(../../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat/static/Montserrat-Medium.ttf) format("truetype");
  // url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 400;
}