@use '../../styles/partials/mixins' as *;

.planet {
  padding-left: 5%;
  padding-right: 5%;
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  &__column {
    @include tablet {
      width: 40vw;
    }
  }
  &__sign {
    color: black;
    text-decoration: none;

    &:hover {
      color: indigo;
    }
  }
  &__img {
    width: 50vw;
    @include tablet {
      width: 40vw;
    }
  }
}